###############################################################################
#                            BASIC SYSTEM METRICS                             #
###############################################################################

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = true
  core_tags = false

[[inputs.mem]]

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "overlay", "aufs", "squashfs"]

[[inputs.system]]

[[inputs.processes]]

[[inputs.kernel]]

[[inputs.swap]]

[[inputs.interrupts]]

[[inputs.net]]
  interfaces = ["eth0", "eno*", "ens*", "enp*", "eth*", "lo"]
  ignore_protocol_stats = false  # deprecated but still usable

[[inputs.nstat]]

[[inputs.netstat]]

###############################################################################
#                             NETWORK CHECKS                                  #
###############################################################################

[[inputs.ping]]
  urls = ["8.8.8.8", "1.1.1.1", "google.com"]
  count = 5
  ping_interval = 1.0
  timeout = 2.0

[[inputs.http_response]]
  urls = ["https://google.com", "https://cloudflare.com"]
  method = "GET"
  response_timeout = "5s"

###############################################################################
#                             SMART MONITORING                                #
###############################################################################

[[inputs.smart]]
  use_sudo = true
  attributes = true
  devices = [ "/dev/ada0 -d atacam", "/dev/nvme0"]
  
[[inputs.smartctl]]

###############################################################################
#                            TEMP SENSOR MONITORING                           #
###############################################################################

[[inputs.sensors]]
  # depends on `lm-sensors` being configured

###############################################################################
#                             IPMI MONITORING                                 #
###############################################################################

[[inputs.ipmi_sensor]]
  path = "/usr/bin/ipmitool"
  privilege = "USERNAME"
  servers = ["ILO_USER:ILO_PASS@lanplus(ILO_IP)"]
  sensors = ["sdr"]
  timeout = "60s"

###############################################################################
#                             DOCKER MONITORING                               #
###############################################################################

[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  gather_services = true
  container_names = []
  timeout = "5s"
  perdevice = true
  total = true

###############################################################################
#                             SYSTEMD SERVICES (Optional)                     #
###############################################################################

[[inputs.systemd_units]]
  pattern = "docker.service|telegraf.service"

###############################################################################
#                                OUTPUT TO INFLUXDB                           #
###############################################################################

[[outputs.influxdb_v2]]
  urls = ["http://INFLUXDB_IP:8086"]
  token = "ACCESS_TOKEN"
  organization = "ORG_NAME"
  bucket = "BUCKET_NAME"
